{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.uploadFile) }}
{% if order is defined %}
    {{ order.file }}
{% endif %}
{{ form_row(form.deliveryDate) }}
{{ form_row(form.endDate) }}
<button type="submit" class="btn btn-success">{{ button_save|default('Enregistrer') }}</button>
{{ form_end(form) }}
