<nav class="main-nav" id="nav">
    <button class="close-main-nav navbar-toggler text-white"><i class="bi bi-x-lg"></i></button>
    <span class="fs-4">Admin</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('home') }}" class="nav-link text-white" target="_blank" data-no-swup="">
                <small>Aller sur l'interface</small> <i class="bi bi-box-arrow-up-right"></i>
            </a>
        </li>
        {% set links = [
            {'title': 'Accueil', 'path': 'admin_home_index', 'controller': 'App\\Controller\\Admin\\AdminController'},
            {'title': 'Commandes', 'path': 'admin_order_index', 'controller': 'App\\Controller\\Admin\\AdminOrderController'},
            {'title': 'Adhérents', 'path': 'admin_member_index', 'controller': 'App\\Controller\\Admin\\AdminMemberController'},
            {'title': 'Comptes', 'path': 'admin_user_index', 'controller': 'App\\Controller\\Admin\\AdminUserController'},
        ] %}
        {% set _controller = app.request.attributes.get("_controller")|split('::') %}
        {% for link in links %}
        <li class="nav-item">
            <a href="{{ path(link.path) }}"
               class="nav-link {{ _controller[0] == link.controller ? 'active' : 'text-white' }}">
                {{ link.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{ app.user.member.firstName }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
    </div>

</nav>
