{% extends 'admin/_layout/row-2cols.html.twig' %}

{% block title %}Tous les adhérents{% endblock %}

{% block blockLeft %}
    <h1>Gestion des adhérents</h1>
    <span class="badge bg-info">{{ members|length }} comptes</span>
{% endblock %}

{% block blockRight %}
    <h2 class="h3">Importer des enregistrements</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">
        <i class="bi bi-upload"></i>
        télécharger
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{{ path('admin_member_new') }}">
        <i class="bi bi-plus-lg"></i>
        Créer une nouvel enregistrement
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Compte activé</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Phone 1</th>
                <th>Mobile 1</th>
                <th>Groupe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr data-member="{{ member.id }}">
{#                    <td>{{ member.id }}</td>#}
                    <td>
                        {% if member.isActive %}
                        <i class="bi bi-check-square"></i>
                        {% endif %}
                    </td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.firstName }}</td>
                    <td>{{ member.lastName }}</td>
                    <td>{{ member.phone1 }}</td>
                    <td>{{ member.mobile1 }}</td>
                    <td>{{ member.groups|join(', ') }}</td>
                    <td>
{#                        <a href="{{ path('admin_member_show', {'id': member.id}) }}">show</a>#}
                        <a class="btn btn-primary" href="{{ path('admin_member_edit', {'id': member.id}) }}">
                            <i class="bi bi-pencil"></i>
                            modifier
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
