<nav class="navbar navbar-expand-lg bg-primary fixed-top shadow p-3" id="nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav align-items-lg-center w-100">
                    {% set links = [
                        {'title': 'Accueil', 'path': 'home'},
                        {'title': 'Les commandes', 'path': 'order_index'},
                    ] %}
                    {% for link in links %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.pathinfo == path(link.path) ? 'active' }}"
                               href="{{ path(link.path) }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown ms-lg-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                                {% if is_granted('ROLE_USER_VERIFIED') %}
                                {{ app.user.member.firstName }}
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('user_account') }}">Mon compte</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i>
                                        Déconnexion</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item ms-lg-auto">
                            <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
