{% extends 'admin/_layout/row-2cols.html.twig' %}

{% block title %}User index{% endblock %}

{% block blockLeft %}
    <h1>Gestion des comptes utilisateur</h1>
    <span class="badge bg-info">{{ users|length }} comptes</span>
{% endblock %}

{% block blockRight %}{% endblock %}

{% block content %}
{#    <a class="btn btn-primary" href="{{ path('admin_user_new') }}">#}
{#        Créer un compte#}
{#    </a>#}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Adhésion active</th>
            <th>Compté vérifié</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.member.firstName }}</td>
                <td>{{ user.member.lastName }}</td>
                <td>{{ user.member.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_user_edit', {'id': user.id}) }}">
                        <i class="bi bi-pencil"></i>
                        modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
